/* exo-2-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/exo-2-v26-latin-regular.woff2') format('woff2');
}

/* ╔═════════════════════╗ */
/* ╠─── GLOBAL STYLES ───╣ */
/* ╚═════════════════════╝ */
body {
    background: rgba(0, 0, 0, 0) url('/assets/img/background.png') center/cover no-repeat fixed;
    background-blend-mode: overlay;
    color: #e0e0e0;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: clamp(1vh, 3vh, 5vh);
    margin-left: 1vh;
    margin-right: 1vh;
}

hr {
    border-color: #00baff64;
    width: 54%;
}

hr.sub {
    border-color: #00bbff32;
    width: 28%;

}

/* ╔═════════════════════════╗ */
/* ╠─── CONTENT STRUCTURE ───╣ */
/* ╚═════════════════════════╝ */
.content {
    box-shadow: 0 0 16px rgba(0,186,255,0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    max-width: 800px;
    border-radius: 12px;
    margin: 1vh auto;
    padding: 1vh;
    background-color: rgba(0, 0, 0, 0.64);
    min-width: 480px;
}

.content a {
    color: #00baff;
    text-decoration: none;
}

.content a:hover {
    color: #66d9ff;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleheader {
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

pre.pgp-label {
    font-family: 'Exo 2';
    display: flex;
}

/* ╔═══════════════════════╗ */
/* ╠─── HEADER ELEMENTS ───╣ */
/* ╚═══════════════════════╝ */
.header-img {
    max-width: 420px;
    min-width: 420px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* ╔══════════════════════╗ */
/* ╠─── NAVIGATION BAR ───╣ */
/* ╚══════════════════════╝ */
nav.content {
    padding-top: 1.8vh;
    padding-bottom: 1.2vh;
    /* margin-top: 1%;
    margin-bottom: 1%; */
} 

#main-nav a {
    color: #00baff;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

#main-nav a:hover {
    background: rgba(0,186,255,0.35);
    box-shadow: 0 0 10px rgba(0,186,255,0.5);
    transform: scale(1.05);
}

#main-nav a.active {
    background: linear-gradient(to top, rgba(0,186,255,0.6) 0%, rgba(0,186,255,0.0) 100%);
    box-shadow: 0 0 12px rgba(0,186,255,0.6);
    transform: scale(1.04);
}

/* ╔══════════════════════════╗ */
/* ╠─── LINKLIST & BUTTONS ───╣ */
/* ╚══════════════════════════╝ */
#linklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 22px;
    max-width: 840px;
    margin: 0 auto;
    padding: 12px;
    box-sizing: border-box;
}

.link {
    width: 150px;
    text-align: center;
    padding: 14px 0;
    border-radius: 10px;
    background: rgba(15,15,15,0.9);
    color: #00baff;
    text-decoration: none;
    border: 1px solid #00baff33;
    box-shadow: 0 0 10px rgba(0,186,255,0.2);
    transition: all 0.2s ease-out;
}

.link:hover {
    background: rgba(0,186,255,0.42);
    border-color: #00baff;
    box-shadow: 0 0 18px rgba(0,186,255,0.45);
    transform: scale(1.04);
}

/* ╔═══════════════════════╗ */
/* ╠─── FOOTER ELEMENTS ───╣ */
/* ╚═══════════════════════╝ */
footer .content {
    position: relative;
    text-align: center;
    padding-top: 76px;
    padding-bottom: 20px;
    /* border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.64);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 8% 100%);
    box-shadow: 0 0 16px rgba(0,186,255,0.45);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    overflow: hidden; */
}

.footer-logo {
    position: absolute;
    pointer-events: none;
    top: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 180px;
    opacity: 0.64;
    z-index: 1;
}

.footer-text {
    position: relative;
    z-index: 2;
    color: #e0e0e0;
}

.pgp-tree {
    display: block;
    font-family: 'Exo 2';
    text-align: left;
}

/* ╔═════════════════════════════╗ */
/* ╠─── RESPONSIVE FOR MOBILE ───╣ */
/* ╚═════════════════════════════╝ */
/* mobile */
@media (max-width: 480px) {
  .content{
    min-width:auto;
    width: 92%;
  }
  #linklist {
    column-gap: 16px;
    row-gap: 12px;
  }
}